<?php
return PhpCsFixer\Config::create()
    ->setCacheFile(__DIR__.'/.php_cs.cache')
    ->setRules([
        '@Symfony' => true,
        '@Symfony:risky' => true,
        'general_phpdoc_annotation_remove' => ['@author'],
        'array_syntax' => ['syntax' => 'short'],
        'native_constant_invocation' => ['fix_built_in' => false],
        'native_function_invocation' => ['include' => []],
        'no_unreachable_default_argument_value' => true,
        'ordered_imports' => true,
        'self_accessor' => false,
    ])
    ->setRiskyAllowed(true)
    ->setFinder(
        PhpCsFixer\Finder::create()
            ->in([
                __DIR__ . '/src',
                __DIR__ . '/tests'
            ])
    )
;
