<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        backupGlobals               = "false"
        backupStaticAttributes      = "false"
        bootstrap                   = "vendor/autoload.php"
        colors                      = "true"
        convertErrorsToExceptions   = "true"
        convertNoticesToExceptions  = "true"
        convertWarningsToExceptions = "true"
        processIsolation            = "false"
>
    <testsuites>
        <testsuite name="test">
            <directory suffix="Test.php">./tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory>./src</directory>
            <exclude>
                <directory>./src/Interfaces</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
